{% extends "accounts/base.html" %} {% block content %} {% load static %} {% csrf_token %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'accounts/css/dashboard.css' %}"
/>

<div id="loading-spinner" style="display: none">
  <div class="spinner"></div>
</div>

<div class="overlay" id="overlay" style="display: none"></div>

<div id="toastNotification" class="hidden">
  <p id="toastMessage"></p>
</div>

<dashboard-container>
  <div class="profile">
    <div class="profile-picture">
      {% if user.profile_picture %}
      <img
        src="{{ user.profile_picture.url }}"
        alt="{{ user.username }}'s Profile Picture"
      />
      {% else %}
      <img
        src="{% static 'accounts/img/anonprofile1.png' %}"
        alt="Profile Picture"
      />
      {% endif %}
      <button id="editProfilePictureButton" style="display: none">Edit</button>
      <input
        type="file"
        id="profilePictureInput"
        name="profile_picture"
        style="display: none"
      />
    </div>

    <div class="profile-info">
      <p class="user-name">
        <span id="first_name">{{ user.first_name }}</span>
        <span id="last_name">{{ user.last_name }}</span>
      </p>

      <p style="font-style: italic">{{ user.username }}</p>

      <p id="email_address">{{ user.email }}</p>

      <div id="phone_container">
        <div id="phone_controls">
          <select id="countryDropdown" style="display: none">
            <!-- <option value="" disabled selected style="display: none;">Country</option> -->
          </select>

          <span id="phone_number">{{ user.phone_number }}</span>
          <button id="phone_verify_button" style="display: none">Verify</button>
        </div>

        <div id="phone_otp_container" style="display: none">
          <p id="phone_otp_p">
            Enter OTP:
            <input
              type="text"
              id="phone_otp_input"
              name="new_phone"
              maxlength="6"
            />
            <button id="phone_otp_verify_button" style="display: none">
              Verify OTP</button
            ><span id="phone_otp_timer"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    {% if profile_type == 'job_seeker' %}
    <div class="details-info">
      <ul>
        <li>
          <p>
            <strong>Skills:</strong> <span id="skills">{{ user.skills }}</span>
          </p>
        </li>
        <br />
        <li>
          <p>
            <strong>Education:</strong>
            <span id="education">{{ user.education }}</span>
          </p>
        </li>
        <br />
        <li>
          <p>
            <strong>Experience:</strong>
            <span id="experience">{{ user.experience }}</span>
          </p>
        </li>
        <br />
      </ul>
    </div>
    {% endif %}

    <div class="user-job-slider-container">
      <div class="heading">
        <h3>Your Bookmarks</h3>
        <a id="create-job" href="{% url 'jobs' %}">Add Bookmark</a>
      </div>
      <div class="user-job-slider" id="user-job-slider"></div>
    </div>
  </div>

  {% if user.is_paid_premium %}
  <button id="showFormBtn">Create Resume</button>
  <div id="resumeFormContainer" style="display: none">
    <div class="form-container">
      <form method="post" class="form" id="resumeForm">
        {% csrf_token %}
        <div class="form-section">
          <h2>Personal Information</h2>
          <label for="resume_name">Name:</label>
          {{ resume_form.name }}
          <label for="resume_email">Email:</label>
          {{ resume_form.email }}
          <label for="resume_number">Contact Number:</label>
          {{ resume_form.phone_number }}
          <label for="resume_linkedin">Linkedin Profile:</label>
          {{ resume_form.linkedin_link }}
        </div>

        <hr class="form-divider" />

        <div class="form-section">
          <h2>Education</h2>
          <label for="resume_education_title">Education Title:</label>
          {{ resume_form.education_title }}
          <label for="resume_college">College:</label>
          {{ resume_form.college }}
          <label for="resume_coursework">Coursework:</label>
          {{ resume_form.coursework }}
          <label for="resume_cgpa">CGPA (Pointer):</label>
          {{ resume_form.cgpa }}
          <label for="resume_graduation_year">Year of Graduation:</label>
          {{ resume_form.year_of_graduation }}
        </div>

        <hr class="form-divider" />

        <div class="form-section">
          <h2>Work Experience</h2>
          <label for="resume_company">Company:</label>
          {{ resume_form.company }}
          <label for="resume_role">Role:</label>
          {{ resume_form.role }}
          <label for="resume_wb_description">Description:</label>
          {{ resume_form.description }}
          <div id="resume_dates">
            <label for="resume_start_date">Start Date: &nbsp; </label>
            {{ resume_form.start_date }} &nbsp; &nbsp; &nbsp;
            <label for="resume_end_date">End Date: &nbsp; </label>
            {{ resume_form.end_date }}
          </div>
        </div>

        <hr class="form-divider" />

        <div class="form-section">
          <h2>Projects</h2>
          <label for="resume_project_title">Project Title:</label>
          {{ resume_form.project_title }}
          <label for="resume_project_tools">Tools Used:</label>
          {{ resume_form.tools_used }}
          <label for="resume_project_description">Description:</label>
          {{ resume_form.project_description }}
        </div>

        <hr class="form-divider" />

        <div class="form-section">
          <h2>Skills</h2>
          <label for="resume_skills">Skills:</label>
          {{ resume_form.skills }}
        </div>

        <hr class="form-divider" />

        <div class="form-section">
          <h2>Certifications</h2>
          <label for="resume_cert_title">Certification:</label>
          {{ resume_form.certification_title }}
          <label for="resume_cert_link">Link:</label>
          {{ resume_form.certification_link }}
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% else %}
  <div>
    <a href="{% url 'gateway' %}"><button id="premium">Buy Premium</button></a>
  </div>
    {% endif %}

  <!-- {{ countries_data|json_script:"countries_data" }} -->

  <div class="buttons">
    <button id="editButton">Edit Profile</button>

    <button id="deleteAccountButton">Delete Account</button>
    <div id="passwordInputContainer" style="display: none">
      <form
        id="passwordVerificationForm"
        method="post"
        action="{% url 'verify_password' %}"
      >
        {% csrf_token %} {{ password_form.password }}
        <button id="verifyPasswordButton" type="submit">Verify Password</button>
      </form>
    </div>
  </div>
</dashboard-container>
<!-- <script src="{% static 'accounts/js/dashboard.js' %}"></script> -->

<script>
  const csrfToken = "{{ csrf_token }}";
  const editButton = document.getElementById("editButton");

  const email = document.getElementById("email_address");

  const phone_number = document.getElementById("phone_number");
  const phone_verifybutton = document.getElementById("phone_verify_button");
  const phone_container = document.getElementById("phone_container");
  const phone_otpInput = document.getElementById("phone_otp_input");
  const phone_otpVerifyButton = document.getElementById(
    "phone_otp_verify_button"
  );
  const phone_otp_container = document.getElementById("phone_otp_container");
  const phone_otp_p = document.getElementById("phone_otp_p");
  const phoneotpTimerElement = document.getElementById("phone_otp_timer");
  const countryDropdown = document.getElementById("countryDropdown");

  const profilePictureInput = document.getElementById("profilePictureInput");
  const editProfilePictureButton = document.getElementById(
    "editProfilePictureButton"
  );
  const profilePicture = document.querySelector(".profile-picture img");

  const first_name = document.getElementById("first_name");
  const last_name = document.getElementById("last_name");
  const skills = document.getElementById("skills");
  const education = document.getElementById("education");
  const experience = document.getElementById("experience");

  const deleteAccountButton = document.getElementById("deleteAccountButton");
  const passwordInputContainer = document.getElementById(
    "passwordInputContainer"
  );
  const passwordInput = document.getElementById("passwordInput");
  const verifyPasswordButton = document.getElementById("verifyPasswordButton");

  const showFormBtn = document.getElementById("showFormBtn");
  const resumeFormContainer = document.getElementById("resumeFormContainer");
  const resumeForm = document.getElementById("resumeForm");

  const overlay = document.getElementById("overlay");

  function showToast(message) {
    var toast = document.getElementById("toastNotification");
    var toastMessage = document.getElementById("toastMessage");
    toastMessage.innerText = message;
    toast.classList.add("show");
    setTimeout(function () {
      toast.classList.remove("show");
    }, 3000);
  }

  function toggleEditSave() {
    if (editButton.textContent === "Edit Profile") {
      editButton.textContent = "Save Profile";

      phone_verifybutton.style.display = "inline-block";
      countryDropdown.style.display = "inline-block";
      editProfilePictureButton.style.display = "inline-block";

      first_name.innerHTML = `<input type="text" value="${first_name.textContent}" name="first_name">`;
      last_name.innerHTML = `<input type="text" value="${last_name.textContent}" name="last_name">`;
      phone_number.innerHTML = `<input type="text" value="${phone_number.textContent}" name="new_phone">`;
      skills.innerHTML = `<input type="text" value="${skills.textContent}" name="skills">`;
      education.innerHTML = `<input type="text" value="${education.textContent}" name="education">`;
      experience.innerHTML = `<input type="text" value="${experience.textContent}" name="experience">`;
    } else {
      editButton.textContent = "Edit Profile";

      const updatefirst_name = document.querySelector(
        'input[name="first_name"]'
      ).value;
      const updatelast_name = document.querySelector(
        'input[name="last_name"]'
      ).value;
      const updateSkills = document.querySelector('input[name="skills"]').value;
      const updateEducation = document.querySelector(
        'input[name="education"]'
      ).value;
      const updateExperience = document.querySelector(
        'input[name="experience"]'
      ).value;

      const selectedFile = profilePictureInput.files[0];

      const formData = new FormData();
      formData.append("first_name", updatefirst_name);
      formData.append("last_name", updatelast_name);
      formData.append("skills", updateSkills);
      formData.append("education", updateEducation);
      formData.append("experience", updateExperience);

      if (selectedFile) {
        formData.append("profile_picture", selectedFile);
      }

      fetch("/user_profile_edit/", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": csrfToken,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            showToast("Profile Saved Successfully");

            setTimeout(() => {
              window.location.href = "/dashboard/";
            }, 2000);
          } else {
            showToast("Error Updating Profile");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }

  editButton.addEventListener("click", toggleEditSave);

  editProfilePictureButton.addEventListener("click", () => {
    profilePictureInput.click();
  });

  profilePictureInput.addEventListener("change", (event) => {
    const selectedFile = event.target.files[0];
    if (selectedFile) {
      const reader = new FileReader();
      reader.onload = function (e) {
        profilePicture.src = e.target.result;
      };
      reader.readAsDataURL(selectedFile);
    }
  });

  deleteAccountButton.addEventListener("click", () => {
    deleteAccountButton.style.display = "none";
    passwordInputContainer.style.display = "block";
  });

  verifyPasswordButton.addEventListener("click", function (event) {
    event.preventDefault();

    const pwformData = new FormData(passwordVerificationForm);

    fetch("/verify_password/", {
      method: "POST",
      body: pwformData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          showToast(data.message);
          verifyPasswordButton.style.display = "none";
          passwordInput.style.display = "none";
          deleteAccountButton.style.display = "block";
          deleteAccountButton.style.backgroundColor = "red";
          deleteAccountButton.style.color = "white";
        } else {
          showToast(data.message);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });

  deleteAccountButton.addEventListener("click", () => {
    if (deleteAccountButton.style.backgroundColor === "red") {
      fetch("/delete_account/")
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            showToast(data.message);
            setTimeout(function () {
              window.location.href = "/register/";
            }, 3000);
          } else {
            showToast(data.message);
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  });

  let isResendOTPMode = false;

  let phone_otpTimer;
  let phone_otpCountdown = 60;

  function startPhoneOTPTimer() {
    phone_otpCountdown = 60;
    phone_otpTimer = setInterval(updatePhoneOTPTimer, 1000);
    updatePhoneOTPTimer();
  }

  function updatePhoneOTPTimer() {
    if (phone_otpCountdown <= 0) {
      clearInterval(phone_otpTimer);
      phone_otpVerifyButton.textContent = "Resend OTP";
      phoneotpTimerElement.textContent = "";
    } else {
      phone_otpVerifyButton.textContent = "Verify OTP";
      phoneotpTimerElement.textContent = `(${phone_otpCountdown}s)`;
      phone_otpCountdown--;
    }
  }

  const countriesData = JSON.parse("{{ countries_data|escapejs|safe }}");

  countriesData.forEach((country) => {
    const option = document.createElement("option");
    option.textContent = country.name;
    option.setAttribute("data-dial-code", country.dial_code);
    option.setAttribute("data-region-code", country.code);
    option.value = country.name;
    countryDropdown.appendChild(option);
  });

  countryDropdown.addEventListener("change", () => {
    const selectedCountry = countryDropdown.value;
  });

  const userJobContainer = document.getElementById("user-job-slider");
  const userBookmarkData = JSON.parse("{{ bookmark_data|escapejs|safe }}");

  userBookmarkData.forEach((job) => {
    const userJobWidget = document.createElement("div");
    userJobWidget.classList.add("user-job-widget");
    userJobWidget.setAttribute("data-jobid", job.jobid);
    userJobWidget.innerHTML = `
                <p>${job.date_scraped}</p>
                <p>${job.job_title}</p>
                <p>${job.job_types}</p>
                <p>${job.salary_range}</p>
                <button class="remove-user-bookmark" id="remove-user-bookmark" job_id="${job.jobid}">x</button?
            `;
    userJobContainer.appendChild(userJobWidget);
  });

  const userBookmarkRemoveButton = document.getElementById(
    "remove-user-bookmark"
  );
  if (userBookmarkRemoveButton) {
    userBookmarkRemoveButton.addEventListener("click", () => {
      job_id = userBookmarkRemoveButton.getAttribute("job_id");

      const formData = new FormData();
      formData.append("job_id", job_id);

      fetch("/remove_bookmark/", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": csrfToken,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.Message) {
            showToast(data.Message);
            setTimeout(() => {
              location.reload();
            }, 2000);
          } else {
            showToast(data.Message);
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  }

  function phoneVerifyHandler() {
    const phoneInput = document.querySelector('input[name="new_phone"]');
    const newPhone = phoneInput.value.trim();

    const selectedCountryOption =
      countryDropdown.options[countryDropdown.selectedIndex];
    const dialCode = selectedCountryOption.getAttribute("data-dial-code");
    const regionCode = selectedCountryOption.getAttribute("data-region-code");

    if (newPhone === "") {
      showToast("Phone Number cannot be empty");
      return;
    }
    if (newPhone === "{{ user.phone_number }}") {
      showToast("Phone Number is same as the current one");
      return;
    }

    const csrfToken = "{{ csrf_token }}";
    const formData = new FormData();
    formData.append("new_phone", newPhone);
    formData.append("dial_code", dialCode);
    formData.append("region_code", regionCode);

    const loadingSpinner = document.getElementById("loading-spinner");
    loadingSpinner.style.display = "block";
    overlay.style.display = "block";

    fetch("/verify_phone/", {
      method: "POST",
      headers: {
        "X-CSRFToken": csrfToken,
      },
      body: formData,
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          return response.json();
        }
      })
      .then((data) => {
        loadingSpinner.style.display = "none";
        overlay.style.display = "none";

        if (data.success) {
          showToast(data.message);
          phone_otp_container.style.display = "block";
          phone_otpVerifyButton.style.display = "inline-block";

          if (!isResendOTPMode) {
            phone_otpVerifyButton.textContent = "Verify OTP";
            phone_otpVerifyButton.addEventListener(
              "click",
              phoneotpVerifyButtonHandler
            );
            startPhoneOTPTimer();
          } else {
            phone_otpVerifyButton.textContent = "Resend OTP";
            phone_otpVerifyButton.addEventListener("click", phoneVerifyHandler);
            startPhoneOTPTimer();
          }
        } else {
          showToast(data.message);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  function phoneotpVerifyButtonHandler() {
    if (phone_otpVerifyButton.textContent === "Resend OTP") {
      isResendOTPMode = true;
      phoneVerifyHandler();
      phone_otpInput.value = "";
    } else {
      const otp = phone_otpInput.value.trim();

      if (otp === "") {
        showToast("Please enter the OTP");
        return;
      }
      const csrfToken = "{{ csrf_token }}";

      const formData = new FormData();
      formData.append("otp", otp);

      const newPhone = document
        .querySelector('input[name="new_phone"]')
        .value.trim();

      fetch("/verify_phone_otp/", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": csrfToken,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            showToast("Phone Number Updated Successfully");

            phone_otp_container.style.display = "none";
            phone_verifyButton.style.display = "none";
            countryDropdown.style.display = "none";

            phone_number.textContent = newPhone;
          } else {
            showToast("Invalid OTP");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }

  phone_verifybutton.addEventListener("click", phoneVerifyHandler);
  phone_otpVerifyButton.addEventListener("click", phoneotpVerifyButtonHandler);

  resumeForm.addEventListener("submit", function (event) {
    event.preventDefault();

    const resume_form_data = new FormData(resumeForm);

    fetch("/generate_resume/", {
      method: "POST",
      body: resume_form_data,
      headers: {
        "X-CSRFToken": csrfToken,
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        } else {
          console.log(response);
        }
        return response.blob();
      })
      .then((blob) => {
        // Create a temporary anchor element to initiate the download
        const downloadLink = document.createElement("a");
        downloadLink.href = URL.createObjectURL(blob);
        downloadLink.download = "your_resume.docx";
        downloadLink.click();
        showToast("Resume downloaded successfully");
      })
      .catch((error) => {
        console.error("Error", error);
        showToast("Error downloading resume");
      });
  });

  showFormBtn.addEventListener("click", function () {
    if (resumeFormContainer.style.display === "none") {
      resumeFormContainer.style.display = "block";
    } else {
      resumeFormContainer.style.display = "none";
    }
  });
</script>

{% endblock %}
